<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" th:href="@{/css/index.css}" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <title>Usuario</title>
</head>

<body class="p-3 bg-light">
  <div class="container-fluid">
    <div class="card shadow-sm border-0">
      <div class="card-header bg-white pt-3">
        <h5 class="mb-0">Directorio de Usuarios</h5>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped table-hover mb-0 align-top">
          <thead class="table-dark text-center">
            <tr>
              <th>Acciones</th>
              <th>Datos Generals</th>
              <th>Contacto</th>
              <th>Direcciones</th>
            </tr>
          </thead>
          <tbody>
            <!--BOTONES DE ACCION-->
            <tr th:each="usuario : ${usuarios}">
              <td class="text-center col-acciones">
                <div class="btn-group-vertical btn-group-sm">
                  <button type="button" class="btn btn-outline-primary">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button type="button" class="btn btn-outline-danger">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </td>
              <!--DATOS GENERALES-->
              <td class="text-wrap text-break">
                <div class="fw-bold text-primary mb-1"
                  th:text="|${usuario.Nombre} ${usuario.ApellidoPaterno} ${usuario.ApellidoMaterno}|"></div>
                <div class="mb-2">
                  <span class="badge bg-success" th:text="${usuario.Rol.Nombre}"></span>
                  <small class="text-muted ms-1">
                    <i class="bi bi-person"></i>
                    <span th:text="${usuario.UserName}"></span>
                  </small>
                </div>
                <div class="row g-1 small">
                  <div class="col-12">
                    <span class="data-label"> CURP: </span>
                    <span th:text="|${usuario.Curp}|"></span>
                  </div>
                  <div class="col-12 col-xl-6">
                    <span class="data-label">Nacimiento: </span>
                    <span th:text="${usuario.FechaNacimiento}"></span>
                  </div>
                  <div class="col-12 col-xl-6">
                    <span class="data-label">Sexo:</span>
                    <span th:text="${usuario.Sexo}"></span>
                  </div>
                </div>
              </td>
              <!--DATOS DE CONTACTO-->
              <td class="text-wrap text-break">
                <ul class="list-unstyled mb-0 small">
                  <li class="mb-1">
                    <i class="bi bi-envelope-at text-danger me-1"></i>
                    <span th:text="${usuario.Email}"></span>
                  </li>
                  <li class="mb-1">
                    <i class="bi bi-telephone text-primary me-1"></i>
                    <span th:text="${usuario.Telefono}"></span>
                  </li>
                  <li class="mb-1">
                    <i class="bi bi-phone text-success me-1"></i>
                    <span th:text="${usuario.Celular}"></span>
                  </li>
                </ul>
              </td>
              <!--DIRECCIONES-->
              <td class="text-wrap text-break" style="min-width: 250px;">

                <div th:each="direccion : ${usuario.Direcciones}" class="card mb-2 border-secondart bg-trasparent">
                  <div class="card-body p-2 small">
                    <h6 class="card-subtitle mb-1 text-dark fw-bold">
                      <i class="bi bi-geo-alt-fil text-danger"></i>
                      <span th:text="|${direccion.Calle} #${direccion.NumeroExterior}|"></span>
                      <span th:if="${direccion.NumeroInterior !=null && !direccion.NumeroInterior.isEmpty()}"
                        th:text="|Int. ${direccion.NumeroInterior}|"></span>
                    </h6>
                    <div th:text="|Col. ${direccion.Colonia.Nombre}, ${direccion.Colonia.Municipio.Nombre}|"></div>
                    <div class="text-muted fst-italic"
                      th:text="|${direccion.Colonia.Municipio.Estado.Nombre},${direccion.Colonia.Municipio.Estado.Pais.Nombre}|">
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>